version: 2
updates:
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: monthly
    commit-message:
      prefix: chore
    cooldown:
      default-days: 3
    open-pull-requests-limit: 10
  - package-ecosystem: npm
    directory: '/'
    versioning-strategy: increase
    schedule:
      interval: monthly
    commit-message:
      prefix: chore
    cooldown:
      default-days: 3
    groups:
      format:
        patterns:
          - 'prettier'
      lint:
        patterns:
          - 'eslint'
          - 'eslint-*'
          - '@eslint/*'
          - '@typescript-eslint/*'
      vitest:
        patterns:
          - 'vitest'
          - '@cloudflare/vitest-pool-workers'
    ignore:
      - dependency-name: nodejs-latest-linker
