name: Lint Checks (ESLint / Prettier)

on:
  pull_request:
    types:
      - opened
      - ready_for_review
      - synchronize
      - labeled
    branches:
      - main

jobs:
  lint:
    name: Check Linting and Formatting
    timeout-minutes: 5
    runs-on: ubuntu-latest
    if: ${{ github.event.action == 'opened' || github.event.action == 'ready_for_review' || github.event.action == 'synchronize' || (github.event.action == 'labeled' && github.event.label.name == 'force ci') }}

    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            registry.npmjs.org:443
            release-assets.githubusercontent.com:443

      - name: Git Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: lts/*
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Run Prettier
        run: node --run prettier

      - name: Run ESLint
        run: node --run lint
